@font-face {
    font-family: 'brandon-grotesque-regular-italic';
    font-style: normal;
    font-weight: normal;
    src: local('brandon-grotesque-regular-italic'), url('fonts/brandon-grotesque/brandon-grotesque-regular-italic-58a8a456c4724.woff') format('woff');
}
@font-face {
    font-family: 'brandon-grotesque-thin-italic';
    font-style: normal;
    font-weight: normal;
    src: local('brandon-grotesque-thin-italic'), url('fonts/brandon-grotesque/brandon-grotesque-thin-italic-58a8a3a8861fe.woff') format('woff');
}
@font-face {
    font-family: 'brandon-grotesque-light';
    font-style: normal;
    font-weight: normal;
    src: local('brandon-grotesque-light'), url('fonts/brandon-grotesque/brandon-grotesque-light-58a8a4b38001d.woff') format('woff');
}
@font-face {
    font-family: 'brandon-grotesque-light-italic';
    font-style: normal;
    font-weight: normal;
    src: local('brandon-grotesque-light-italic'), url('fonts/brandon-grotesque/brandon-grotesque-light-italic-58a8a4ccb88be.woff') format('woff');
}

@font-face {
    font-family: 'brandon-grotesque-medium-italic';
    font-style: normal;
    font-weight: normal;
    src: local('brandon-grotesque-medium-italic'), url('fonts/brandon-grotesque/brandon-grotesque-medium-italic-58a8a3c40866a.woff') format('woff');
}

@font-face {
    font-family: 'brandon-grotesque-bold-italic';
    font-style: normal;
    font-weight: normal;
    src: local('Bbrandon-grotesque-bold-italic'), url('fonts/brandon-grotesque/brandon-grotesque-bold-italic-58a8a48221563.woff') format('woff');
}
@font-face {
    font-family: 'brandon-grotesque-black';
    font-style: normal;
    font-weight: normal;
    src: local('brandon-grotesque-black'), url('fonts/brandon-grotesque/brandon-grotesque-black-58a8a3e824392.woff') format('woff');
}